.archive {
  margin: 1em auto;
  padding: 20px 30px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);

  .post-archive {
    list-style: none;
    padding: 0;

    .post-item {
      margin: 5px 0;
      font-size: 1em;

      .post-date {
        display: inline-block;
        margin-right: 10px;
        color: #BABABA;
      }

      .post-title {
        color: #353535;
        // color: #368CCB;
        text-decoration: none;
      }
    }
  }
}