header {
  margin-bottom: 1em;
}
.header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  .blog-title .logo {
    color: #353535;
    font-size: 2em;
    font-family: sans-serif;
    letter-spacing: -2px;
    font-weight: bold;
    text-decoration: none;
  }

  .menu {
    margin: 0;
    padding: 0;

    .menu-item {
      display: inline-block;
      margin-right: 10px;
    }

    .menu-item-link {
      color: #888;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.header-nav {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;

  .menu {
    margin: 0;
    padding: 0;

    .menu-item {
      display: inline-block;
      margin-right: 10px;
    }

    .menu-item-link {
      color: #888;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}